/*
** Copyright {{author}} {{date}}
** This file is part of {{projectName}}.
**
** {{projectName}} is distributed in the hope that it will be useful,
** but WITHOUT ANY WARRANTY; without even the implied warranty of
** MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
** GNU General Public License for more details.
**
** Contact : {{email}}
** Last update by [[author]] at [[date]]
*/

